{% extends "index.html" %}

{% block title %} Recipes {% endblock %}

{% block main %} 

<h1 style="text-align: center; margin: 3rem;">Recipes!</h1>
<script>

function submitFilters() {
    const selectedMealType = document.querySelector('input[name="btnradio1"]:checked + label').textContent;
    const selectedDiet = document.querySelector('input[name="btnradio2"]:checked + label').textContent;
    const selectedMaxTime = parseInt(document.getElementById('max_time').value, 10);
    const setOrder = document.querySelector('input[name="flexRadioDefault"]:checked + label')?.textContent.trim();

    filters = [selectedMealType, selectedDiet, selectedMaxTime];
    filters.forEach((recipe) => {
        if (recipe == null) {
            recipe = 'none';
    }
});

    console.log(selectedDiet, selectedMealType, selectedMaxTime, setOrder)
    fetch('/api/filter/', {
        method: "POST",
        headers: {
            "Content-Type": "application/json"
        },
        body: JSON.stringify({
            meal_type: selectedMealType,
            diet: selectedDiet,
            max_time: selectedMaxTime,
            order: setOrder
        })
    })
    .then(resp => resp.json())
    .then(function displayFilter(recipes){
        console.log(recipes);
        const recipesContainer = document.querySelector('.recipes-columns');


        recipesContainer.innerHTML = '';


        recipes.forEach(recipe => {
            const recipeContainer = document.createElement('div');
            recipeContainer.classList.add('recipe-container');
            recipeContainer.id = `recipe-container-${recipe._id}`;

            const nameElement = document.createElement('h1');
            nameElement.classList.add('recipe-name');
            nameElement.textContent = recipe.name;
            recipeContainer.appendChild(nameElement);

            const authorElement = document.createElement('p');
            authorElement.classList.add('recipe-author');
            authorElement.textContent = recipe.author;
            recipeContainer.appendChild(authorElement);

            const descriptionElement = document.createElement('h2');
            descriptionElement.classList.add('recipe-description');
            descriptionElement.textContent = recipe.description;
            recipeContainer.appendChild(descriptionElement);

            recipesContainer.appendChild(recipeContainer);
    });
    })
}    

function deleteRecipe(givenSecret, recipeId) {
    console.log("function is called", givenSecret, recipeId)

    let lSecret = window.prompt("Please enter secret key.")
    if(lSecret == givenSecret)  {
        fetch(`/api/recipe/${recipeId}`, {
            method: "DELETE",
            headers: {
                "Content-type": "application/json"
            },
            body: JSON.stringify({
                _id: recipeId,
                secret: lSecret
            })
        })
        .then(res => res.json())
        .then(function deleteOnSuccess(data) {
            console.log(data)

            let recipeContainer = document.getElementById(`recipe-container-${recipeId}`)
            recipeContainer.remove()


        }
        

        )
        .catch(err => console.error('Error: ', err))
    }else {
        if(window.confirm("You typed in the wrong secret key, press OK to try again.")){
            deleteRecipe(givenSecret)
        }
    }
}

function editRecipe(id) {
    
    let newName = document.getElementById(`editName${id}`).value
    let newAuthor = document.getElementById(`editAuthor${id}`).value
    let newDescription = document.getElementById(`editDescription${id}`).value


    
    console.log(id, newName, newAuthor, newDescription)
    fetch(`/api/recipe/${id}`, {
        method: "PUT",
        headers: {
            "Content-Type": "application/json"
        },
        body: JSON.stringify({
            name: newName,
            author: newAuthor,
            description: newDescription
        })
    })
    .then(res => res.json())
    .then(function success(data) {
        console.log(data)

        const recipeContainer = document.getElementById(`recipe-container-${id}`)
        recipeContainer.querySelector('.recipe-name').innerText = newName
        recipeContainer.querySelector('.recipe-author').innerText = newAuthor
        recipeContainer.querySelector('.recipe-description').innerText = newDescription
    })
    .catch(err => console.error('Error: ', err))
    

}

</script>

</script>
<div id="category">
    {% for meal_type in meal_types %}
    <p class="category_name">{{meal_type._id}}: {{ meal_type.count }}</p>
    {% endfor %}

    {% for diet in diets %}
    <p class="category_name">{{diet._id}}: {{ diet.count }}</p>
    {% endfor %}
    <div id="filter_recipes">
        <div class="dropdown-center">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" data-bs-auto-close="false" aria-expanded="false">
              Filter
            </button>
            <ul class="dropdown-menu">
                <li>
                    <div class="btn-group" role="group" aria-label="Basic radio toggle button group 1" style="padding: 0px 16px ; display: flex; justify-content: center;">
                        <input type="radio" class="btn-check" name="btnradio1" id="btnradio1" autocomplete="off">
                        <label class="btn btn-outline-primary" for="btnradio1">lunch</label>
                    
                        <input type="radio" class="btn-check" name="btnradio1" id="btnradio2" autocomplete="off">
                        <label class="btn btn-outline-primary" for="btnradio2">breakfast</label>
                    
                        <input type="radio" class="btn-check" name="btnradio1" id="btnradio3" autocomplete="off">
                        <label class="btn btn-outline-primary" for="btnradio3">snack</label>

                        <input type="radio" class="btn-check" name="btnradio1" id="btnradio4" autocomplete="off">
                        <label class="btn btn-outline-primary" for="btnradio4">dinner</label>
                    </div>
                </li>
                <li>
                    <div class="btn-group" role="group" aria-label="Basic radio toggle button group 2" style="padding: 0px 16px ; display: flex; justify-content: center;">
                        <input type="radio" class="btn-check" name="btnradio2" id="btnradio5" autocomplete="off">
                        <label class="btn btn-outline-primary" for="btnradio5">seafood</label>
                    
                        <input type="radio" class="btn-check" name="btnradio2" id="btnradio6" autocomplete="off">
                        <label class="btn btn-outline-primary" for="btnradio6">vegetarian</label>
                    
                        <input type="radio" class="btn-check" name="btnradio2" id="btnradio7" autocomplete="off">
                        <label class="btn btn-outline-primary" for="btnradio7">vegan</label>

                        <input type="radio" class="btn-check" name="btnradio2" id="btnradio8" autocomplete="off">
                        <label class="btn btn-outline-primary" for="btnradio8">meat</label>
                    </div>
                </li>
                <li>
                    <div class='dropdown-item'>
                        <p>Max time of cooking </p>
                        <input type="range" value="24" min="1" max="120" oninput="this.nextElementSibling.value = this.value">
                        <output id="max_time">24</output>
                    </div>
                </li>
                <li class="d-grid gap-2 d-md-flex justify-content-md-end" style="padding: 10px;">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked>
                        <label class="form-check-label" for="flexRadioDefault1">
                          none
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" >
                        <label class="form-check-label" for="flexRadioDefault2">
                            ascending
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
                        <label class="form-check-label" for="flexRadioDefault3">
                            descending
                        </label>
                    </div>
                    <button type="submit" class="btn btn-primary" onclick="submitFilters()">Submit</button>
                </li>
            </ul>
        </div>    
    </div>
</div>
<div class="all_recipes_container">
    <div class="recipes-columns">
        {% for recipe in recipes_list %}
            <div class="recipe-container" id="recipe-container-{{ recipe._id }}">
                <h1 class="recipe-name">{{ recipe.name }}</h1>
                <p class="recipe-author">{{ recipe.author }}</p>
                <h2 class="recipe-description">{{ recipe.description }}</h2>
                <button type="button" class="btn btn-outline-danger"><i class="fa-solid fa-trash" onclick="deleteRecipe('{{ recipe.secret }}', '{{ recipe._id }}')"></i></button>
                <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop{{ recipe._id }}"><i class="fa-solid fa-pen-to-square"></i></button>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="staticBackdrop{{ recipe._id }}" data-bs-keyboard="true" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="staticBackdropLabel">Edit recipe</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form id="editRecipeForm">
                                <fieldset>
                                    <input type="hidden" id="editRecipeId" name="editRecipeId" value="{{ recipe._id }}">
                                    <div>
                                        <label for="name" class="form-label">Name of recipe:</label>
                                        <input type="text" id="editName{{ recipe._id }}" name="name" class="form-control" value="{{ recipe.name }}">
                                    </div>
                                    <div>
                                        <label for="author" class="form-label">Author:</label>
                                        <input type="text" id="editAuthor{{ recipe._id }}" name="author" class="form-control" value="{{ recipe.author }}">
                                    </div>
                                    <div>
                                        <label for="description" class="form-label">Description:</label>
                                        <textarea class="form-control" id="editDescription{{ recipe._id }}" name="description" rows="4">{{ recipe.description }}</textarea>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" onclick="editRecipe('{{ recipe._id }}')" >Update recipe</button>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
